:root {
  --main-color: #ff00ea;
}
.btn-base {
  background: linear-gradient(56.64deg, #762990 0.04%, #ff00ea 99.88%);
}
.btn:after {
  background: linear-gradient(56.64deg, #ff00ea 0.04%, #762990 99.88%);
}
.btn-border-base {
  color: var(--main-color);
}
.section-title .sub-title {
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  padding: 0;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 600;
}
.single-team-inner .team-social-inner {
  background: var(--main-color);
}
.single-team-inner .team-social-inner a {
  color: #fff;
}
